@CHARSET "UTF-8";

.setting_point_man_inq > .contentbox p {
	margin: 0;
	width: 50%;
	float: left;
}

.setting_point_man_inq > .contentbox p:last-child {
	text-align: center;
	font-size: 17px;
}

.setting_point_man_inq > p,
.setting_point_man_inq > button {
	margin: 10px 1%;
	width: 48%;
	float: left;
}

.setting_point_man_inq > p{
	font-size:12px;
}

.setting_point_man_inq > contentbox p:last-child {
	text-align: center;
	font-size: 17px;
}

ul.setting_point_man_his{
	margin: 0px;
	margin-bottom: -1px;
}

.setting_point_man_his > li.item > p {
	margin: 0;
	width: 50%;
	float: left;
	font-size: 17px;
}

.setting_point_man_his > li.item > p:first-child span {
	font-size: 12px;
}

.setting_point_man_his > li.item > p:last-child {
	text-align: center;
	font-size: 20px;
	padding: 10px;
}