<ion-view>

	<!-- タブ -->
	<div class="tabs-striped tabs-top miral_tab">
		<div class="tabs">
			<a class="tab-item" ng-click ="beautiReservReservHome()"><i class="icon ion-android-favorite"></i></a>
			<a class="tab-item active" ng-click ="beautiReservReservInfo()"><i class="icon ion-android-calendar"></i></a>
			<a class="tab-item" ng-click ="beautiReservMessageList()"><i class="icon ion-android-textsms"></i></a>
		</div>
	</div>
	
<ion-content class="miralbody reserv_info has-header-w">
	<!-- 現在予約をしているサロン -->
	<p class="c01 titleBar maT10">現在予約をしているサロン</p>
	<div class="padding salon_list">
	
		<!-- 1 -->
		<div class="contentbox reserv_accordion">
			<img class="list_salon_img" src="./beauti/home/salon_detail/img/salon01_1.jpg">
			<div class="salon_list_label">
				<p>salon Hair Design 池袋店</p>
				<p><span>最寄駅</span><span>JR池袋駅</span><span>徒歩10分</span></p>
			</div>
			<div class="accordion reserv_accordion_today">
				<input id="salon_list_reserv" type="checkbox">
				<label for="salon_list_reserv">
					<p>
						<span class="reserv_today"></span>
						<span>利用予定時刻</span>
						<span>10:00~11:00</span>
						<span>詳細</span>
					</p>
				</label>
				<div class="accordion_content">
					<table class="reserv_accordion_detail">
						<tr>
							<th>予約ステータス</th>
							<td>予約完了</td>
						</tr>
						<tr>
							<th>予約申請日</th>
							<td>2016-00-00</td>
						</tr>
						<tr>
							<th>予約申請時刻</th>
							<td>15:09:49</td>
						</tr>
						<tr>
							<th>利用予定日</th>
							<td>2016-00-00</td>
						</tr>
						<tr>
							<th>利用予定時刻</th>
							<td>9:00~18:00</td>
						</tr>
						<tr>
							<th>利用予定時間</th>
							<td>9:00:00</td>
						</tr>
						<tr>
							<th>利用ポイント</th>
							<td>8000Pt</td>
						</tr>
						<tr>
							<td colspan="2" class="reserv_accordion_cancel" >
								<a ng-click="showConfirm()">予約をキャンセルする</a>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>

		<!-- 2 -->
		<div class="contentbox reserv_accordion">
			<img class="list_salon_img" src="./beauti/home/salon_detail/img/salon01_1.jpg">
			<div class="salon_list_label">
				<p>salon Hair Design 池袋店</p>
				<p>
					<span>最寄駅</span>
					<span>JR池袋駅</span>
					<span>徒歩10分</span>
				</p>
			</div>
			<div class="accordion reserv_accordion_tomorrow">
				<input id="salon_list_reserv_02" type="checkbox">
				<label for="salon_list_reserv_02">
				<p>
					<span class="reserv_tomorrow"></span>
					<span>利用予定時刻</span>
					<span>10:00~11:00</span>
					<span>詳細</span>
				</p>
				</label>
				<div class="accordion_content">
					<table class="reserv_accordion_detail">
						<tr>
							<th>予約ステータス</th>
							<td>予約完了</td>
						</tr>
						<tr>
							<th>予約申請日</th>
							<td>2016-00-00</td>
						</tr>
						<tr>
							<th>予約申請時刻</th>
							<td>15:09:49</td>
						</tr>
						<tr>
							<th>利用予定日</th>
							<td>2016-00-00</td>
						</tr>
						<tr>
							<th>利用予定時刻</th>
							<td>9:00~18:00</td>
						</tr>
						<tr>
							<th>利用予定時間</th>
							<td>9:00:00</td>
						</tr>
						<tr>
							<th>利用ポイント</th>
							<td>8000Pt</td>
						</tr>
						<tr>
							<td colspan="2" class="reserv_accordion_cancel" >
								<a ng-click="showConfirm()">予約をキャンセルする</a>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- 予約履歴 -->
	<p class="c01 titleBar">予約履歴</p>
	<!-- 1 -->
	<div class="padding salon_list">
		<div class="contentbox reserv_accordion">
			<img class="list_salon_img" src="./beauti/home/salon_detail/img/salon01_1.jpg">
			<div class="salon_list_label">
				<p>salon Hair Design 池袋店</p>
				<p>
					<span>最寄駅</span>
					<span>JR池袋駅</span>
					<span>徒歩10分</span>
				</p>
			</div>
			<div class="accordion reserv_accordion_history">
				<input id="salon_list_reserv_03" type="checkbox">
				<label for="salon_list_reserv_03">
				<p>
					<span class="hst_already"></span>
					<span>利用予定時刻</span>
					<span>10:00~11:00</span>
					<span>詳細</span>
				</p>
				</label>
				<div class="accordion_content">
					<table class="reserv_accordion_detail">
						<tr>
							<th>予約ステータス</th>
							<td>来店済</td>
						</tr>
						<tr>
							<th>予約申請時刻</th>
							<td>2016-00-00</td>
						</tr>
						<tr>
							<th>予約申請日</th>
							<td>2016-00-00</td>
						</tr>
						<tr>
							<th>利用予定日</th>
							<td>15:09:49</td>
						</tr>
						<tr>
							<th>利用予定時刻</th>
							<td>9:00~18:00</td>
						</tr>
						<tr>
							<th>利用予定時間</th>
							<td>9:00:00</td>
						</tr>
						<tr>
							<th>利用ポイント</th>
							<td>8000Pt</td>
						</tr>
						<tr>
							<th>来店時刻</th>
							<td>14:00:00</td>
						</tr>
						<tr>
							<th>退店時刻</th>
							<td>16:00:00</td>
						</tr>
						<tr>
							<th>キャンセル</th>
							<td>-</td>
						</tr>
						<tr>
							<th>キャンセル受付日時</th>
							<td>-</td>
						</tr>
						<tr>
							<th>発生ポイント</th>
							<td>80Pt</td>
						</tr>
						<tr>
							<td colspan="2" class="reserv_accordion_review" >
								<a ng-click="beautiSettingReviewEdit()">レビューを投稿する</a>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	
		<!-- 2 -->
		<div class="contentbox reserv_accordion">
			<img class="list_salon_img" src="./beauti/home/salon_detail/img/salon01_1.jpg">
			<div class="salon_list_label">
				<p>salon Hair Design 池袋店</p>
				<p>
					<span>最寄駅</span>
					<span>JR池袋駅</span>
					<span>徒歩10分</span>
				</p>
			</div>
			<div class="accordion reserv_accordion_history">
				<input id="salon_list_reserv_04" type="checkbox">
				<label for="salon_list_reserv_04">
				<p>
					<span class="hst_already"></span>
					<span>利用予定時刻</span>
					<span>10:00~11:00</span>
					<span>詳細</span>
				</p>
				</label>
				<div class="accordion_content">
					<table class="reserv_accordion_detail">
						<tr>
							<th>予約ステータス</th>
							<td>来店済</td>
						</tr>
						<tr>
							<th>予約申請時刻</th>
							<td>2016-00-00</td>
						</tr>
						<tr>
							<th>予約申請日</th>
							<td>2016-00-00</td>
						</tr>
						<tr>
							<th>利用予定日</th>
							<td>15:09:49</td>
						</tr>
						<tr>
							<th>利用予定時刻</th>
							<td>9:00~18:00</td>
						</tr>
						<tr>
							<th>利用予定時間</th>
							<td>9:00:00</td>
						</tr>
						<tr>
							<th>利用ポイント</th>
							<td>8000Pt</td>
						</tr>
						<tr>
							<th>来店時刻</th>
							<td>14:00:00</td>
						</tr>
						<tr>
							<th>退店時刻</th>
							<td>16:00:00</td>
						</tr>
						<tr>
							<th>キャンセル</th>
							<td>-</td>
						</tr>
						<tr>
							<th>キャンセル受付日時</th>
							<td>-</td>
						</tr>
						<tr>
							<th>発生ポイント</th>
							<td>80Pt</td>
						</tr>
						<tr>
							<td colspan="2" class="reserv_accordion_review" >
								<a ng-click="beautiSettingReviewEdit()">レビューを投稿する</a>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		
		<!-- 3 -->
		<div class="contentbox reserv_accordion">
			<img class="list_salon_img" src="./beauti/home/salon_detail/img/salon01_1.jpg">
			<div class="salon_list_label">
				<p>salon Hair Design 池袋店</p>
				<p>
					<span>最寄駅</span>
					<span>JR池袋駅</span>
					<span>徒歩10分</span>
				</p>
			</div>
			<div class="accordion reserv_accordion_history">
				<input id="salon_list_reserv_05" type="checkbox">
				<label for="salon_list_reserv_05">
				<p>
					<span class="hst_already"></span>
					<span>利用予定時刻</span>
					<span>10:00~11:00</span>
					<span>詳細</span>
				</p>
				</label>
				<div class="accordion_content">
					<table class="reserv_accordion_detail">
						<tr>
							<th>予約ステータス</th>
							<td>来店済</td>
						</tr>
						<tr>
							<th>予約申請時刻</th>
							<td>2016-00-00</td>
						</tr>
						<tr>
							<th>予約申請日</th>
							<td>2016-00-00</td>
						</tr>
						<tr>
							<th>利用予定日</th>
							<td>15:09:49</td>
						</tr>
						<tr>
							<th>利用予定時刻</th>
							<td>9:00~18:00</td>
						</tr>
						<tr>
							<th>利用予定時間</th>
							<td>9:00:00</td>
						</tr>
						<tr>
							<th>利用ポイント</th>
							<td>8000Pt</td>
						</tr>
						<tr>
							<th>来店時刻</th>
							<td>14:00:00</td>
						</tr>
						<tr>
							<th>退店時刻</th>
							<td>16:00:00</td>
						</tr>
						<tr>
							<th>キャンセル</th>
							<td>-</td>
						</tr>
						<tr>
							<th>キャンセル受付日時</th>
							<td>-</td>
						</tr>
						<tr>
							<th>発生ポイント</th>
							<td>80Pt</td>
						</tr>
						<tr>
							<td colspan="2" class="reserv_accordion_review" >
								<a ng-click="beautiSettingReviewEdit()">レビューを投稿する</a>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	
		<!-- 4 -->
		<div class="contentbox reserv_accordion">
			<img class="list_salon_img" src="./beauti/home/salon_detail/img/salon01_1.jpg">
			<div class="salon_list_label">
				<p>salon Hair Design 池袋店</p>
				<p>
					<span>最寄駅</span>
					<span>JR池袋駅</span>
					<span>徒歩10分</span>
				</p>
			</div>
			<div class="accordion reserv_accordion_history">
				<input id="salon_list_reserv_06" type="checkbox">
				<label for="salon_list_reserv_06">
				<p>
					<span class="hst_already"></span>
					<span>利用予定時刻</span>
					<span>10:00~11:00</span>
					<span>詳細</span>
				</p>
				</label>
				<div class="accordion_content">
					<table class="reserv_accordion_detail">
						<tr>
							<th>予約ステータス</th>
							<td>来店済</td>
						</tr>
						<tr>
							<th>予約申請時刻</th>
							<td>2016-00-00</td>
						</tr>
						<tr>
							<th>予約申請日</th>
							<td>2016-00-00</td>
						</tr>
						<tr>
							<th>利用予定日</th>
							<td>15:09:49</td>
						</tr>
						<tr>
							<th>利用予定時刻</th>
							<td>9:00~18:00</td>
						</tr>
						<tr>
							<th>利用予定時間</th>
							<td>9:00:00</td>
						</tr>
						<tr>
							<th>利用ポイント</th>
							<td>8000Pt</td>
						</tr>
						<tr>
							<th>来店時刻</th>
							<td>14:00:00</td>
						</tr>
						<tr>
							<th>退店時刻</th>
							<td>16:00:00</td>
						</tr>
						<tr>
							<th>キャンセル</th>
							<td>-</td>
						</tr>
						<tr>
							<th>キャンセル受付日時</th>
							<td>-</td>
						</tr>
						<tr>
							<th>発生ポイント</th>
							<td>80Pt</td>
						</tr>
						<tr>
							<td colspan="2" class="reserv_accordion_review" >
								<a ng-click="beautiSettingReviewEdit()">レビューを投稿する</a>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

</ion-content>
</ion-view>
