@CHARSET "UTF-8";

.salon_list > div.contentbox {
	padding: 10px;
	width: 100%;
	position: relative;
}

.salon_list > div.contentbox > span {
	float: left;
	}

.salon_list_salonName {
	width: 100%;
	height:60px;
	display: inline-block;
	margin-left: -60px;
	padding-left: 70px;
}

.salon_list_salonName p {
	margin: 0px;
}

.salon_list_salonName p:first-child {
	font-size: 17px;
	margin: 5px 0px;
}

.salon_list .contentbox > .accordion  label {
	padding: 0px;
	color: #5C5C5C;
	font-size: 14px;
}

.salon_list .contentbox > .accordion  label::after {
	display: none;
}

.salon_list .contentbox > .accordion > .accordion_content {
	padding: 0px;
}

.salon_list_reserv_detailToday {
	width: 100%;
	border: solid 2px #EB727E;
	padding: 5px;
	margin-top: 10px;
	position: relative;
}

.salon_list_reserv_detailTomorrow {
	width: 100%;
	border: solid 2px #19B0B8;
	padding: 5px;
	margin-top: 10px;
	position: relative;
}


.salon_list_reserv_detailToday p,
.salon_list_reserv_detailTomorrow p {
	margin: 0px;
	width: 100%;
}

.salon_list_reserv_detailToday p span:last-child {
	color:#EB727E;
	float: right;
	margin: 2px 2px 2px 0px;
}

.salon_list_reserv_detailTomorrow p span:last-child{
	color:#19B0B8;
	float: right;
	margin: 2px 2px 2px 0px;
}

.salon_list_salonName > .reserv_list_result_favorite {
	margin: 5px 5px;
}

table.salon_list_reserv_detail {
	width: 100%;
	margin-top: 10px;
}

table.salon_list_reserv_detail th {
	text-align: left;
	padding: 1px 3px;
	margin: 1px;
	width: 135px;
	background-color: #DDD;
	border: solid 2px #FFF;
}

table.salon_list_reserv_detail td {
	padding: 1px 10px;
}