<ion-view>
<ion-content class="miralbody message_list" >

	<!-- 1 -->
	<div class="contentbox" ng-click="salonScheduleMessage()">
		<div class="message_list_img">
			<img class="list_salon_img" src="./img/beauti/1/profile.png">
		</div>
		<div class="message_list_text">
			<div>
				<span class="message_unread"></span>
				<span class="message_time">19:00</span>
				<p class="salon_name">本田　涼子</p>
				<p>2000年05月11日　10:00〜11:00 予約</p>
				<p>おはようございます！はようございます！おはようございます</p>
			</div>
		</div>
	</div>

	<!-- 2 -->
	<div class="contentbox" ng-click="salonScheduleMessage()">
		<div class="message_list_img">
			<img class="list_salon_img" src="./img/beauti/1/profile.png">
		</div>
		<div class="message_list_text">
			<div>
				<span class="message_unread"></span>
				<span class="message_time">19:00</span>
				<p class="salon_name">高橋　和男</p>
				<p>2000年05月11日　10:00〜11:00 予約</p>
				<p>おはようございます！はようございます！おはようございます</p>
			</div>
		</div>
	</div>

	<!-- 3 -->
	<div class="contentbox" ng-click="salonScheduleMessage()">
		<div class="message_list_img">
			<img class="list_salon_img" src="./img/beauti/1/profile.png">
		</div>
		<div class="message_list_text">
			<div>
				<span class="message_unread"></span>
				<span class="message_time">19:00</span>
				<p class="salon_name">佐藤　七海</p>
				<p>2000年05月11日　10:00〜11:00 予約</p>
				<p>おはようございます！はようございます！おはようございます</p>
			</div>
		</div>
	</div>
	
	<!-- 4 -->
	<div class="contentbox" ng-click="salonScheduleMessage()">
		<div class="message_list_img">
			<img class="list_salon_img" src="./img/beauti/1/profile.png">
		</div>
		<div class="message_list_text">
			<div>
				<span class="message_unread"></span>
				<span class="message_time">19:00</span>
				<p class="salon_name">郷野　直哉</p>
				<p>2000年05月11日　10:00〜11:00 予約</p>
				<p>おはようございます！はようございます！おはようございます</p>
			</div>
		</div>
	</div>
	
	<!-- 5 -->
	<div class="contentbox" ng-click="salonScheduleMessage()">
		<div class="message_list_img">
			<img class="list_salon_img" src="./img/beauti/1/profile.png">
		</div>
		<div class="message_list_text">
			<div>
				<span class="message_unread"></span>
				<span class="message_time">19:00</span>
				<p class="salon_name">村田　莉奈</p>
				<p>2000年05月11日　10:00〜11:00 予約</p>
				<p>おはようございます！はようございます！おはようございます</p>
			</div>
		</div>
	</div>

</ion-content>
</ion-view>
