<ion-view>
	<!-- タブ -->
	<div class="tabs-striped tabs-top miral_tab">
		<div class="tabs">
			<a class="tab-item" ng-click ="salonScheduleReservToday()">今日の予定</a>
			<a class="tab-item" ng-click ="salonScheduleReservTomorrow()">明日の予定</a>
			<a class="tab-item active" ng-click ="salonScheduleReservHst()">予約履歴</a>
		</div>
	</div>


<ion-content class="miralbody salon_reserv_hst has-header-w">
<div class="miralbody_wrap">
	<!-- ボタン -->
	<div class="reserv_hst_button">
		<span><button class="button c01" ng-click="salonScheduleReservLatest()">最近の利用履歴</button></span>
		<span><button class="button c01" ng-click="salonScheduleReservPast()">過去の利用履歴</button></span>
	</div>

	<!-- 履歴一覧 -->
	<p class="titleBar c01 clB">最近の利用履歴</p>
	
	<!-- 1 -->
	<div class="reserv_hst_content beauti_list">
		<div class="accordion">
			<input id="salon_hst_list_01" type="checkbox">
			<label for="salon_hst_list_01">
				<span class="salon_hst_user_img"><img src="./img/beauti/1/profile.png"></span>
				<p class="salon_hst_user_name">本田　涼子</p>
				<span class="hst_already flR"></span>
				<p class="salon_hst_use_time">来店日時：2016/00/00 00:00〜00:00</p>
			</label>
			<div class="accordion_content">
				<table class="reserv_accordion_detail">
					<tr>
						<th>来店ステータス</th>
						<td>来店済</td>
					</tr>
					<tr>
						<th>予約申請時刻</th>
						<td>2016/00/00 00:00</td>
					</tr>
					<tr>
						<th>利用日</th>
						<td>2016/00/00</td>
					</tr>
					<tr>
						<th>利用予定時間</th>
						<td>00:00</td>
					</tr>
					<tr>
						<th>利用ポイント</th>
						<td>8,000Pt</td>
					</tr>
					<tr>
						<th>来店時刻</th>
						<td>14:00</td>
					</tr>
					<tr>
						<th>退店時刻</th>
						<td>16:00</td>
					</tr>
					<tr>
						<th>キャンセル</th>
						<td>なし</td>
					</tr>
					<tr>
						<th>キャンセル時刻</th>
						<td>-</td>
					</tr>
					<tr>
						<th>発生ポイント</th>
						<td>80Pt</td>
					</tr>
					<tr>
						<th>累計利用回数</th>
						<td>6</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<!-- 2 -->
	<div class="reserv_hst_content">
		<div class="accordion">
			<input id="salon_hst_list_02" type="checkbox">
			<label for="salon_hst_list_02">
				<span class="salon_hst_user_img"><img src="./img/beauti/1/profile.png"></span>
				<p class="salon_hst_user_name">本田　涼子</p>
				<span class="hst_none flR"></span>
				<p class="salon_hst_use_time">来店日時：2016/00/00 00:00〜00:00</p>
			</label>
			<div class="accordion_content">
				<table class="reserv_accordion_detail">
					<tr>
						<th>来店ステータス</th>
						<td>来店済</td>
					</tr>
					<tr>
						<th>予約申請時刻</th>
						<td>2016/00/00 00:00</td>
					</tr>
					<tr>
						<th>利用日</th>
						<td>2016/00/00</td>
					</tr>
					<tr>
						<th>利用予定時間</th>
						<td>00:00</td>
					</tr>
					<tr>
						<th>利用ポイント</th>
						<td>8,000Pt</td>
					</tr>
					<tr>
						<th>来店時刻</th>
						<td>14:00</td>
					</tr>
					<tr>
						<th>退店時刻</th>
						<td>16:00</td>
					</tr>
					<tr>
						<th>キャンセル</th>
						<td>なし</td>
					</tr>
					<tr>
						<th>キャンセル時刻</th>
						<td>-</td>
					</tr>
					<tr>
						<th>発生ポイント</th>
						<td>80Pt</td>
					</tr>
					<tr>
						<th>累計利用回数</th>
						<td>6</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<!-- 3 -->
	<div class="reserv_hst_content">
		<div class="accordion">
			<input id="salon_hst_list_03" type="checkbox">
			<label for="salon_hst_list_03">
				<span class="salon_hst_user_img"><img src="./img/beauti/1/profile.png"></span>
				<p class="salon_hst_user_name">本田　涼子</p>
				<span class="hst_cancel flR"></span>
				<p class="salon_hst_use_time">来店日時：2016/00/00 00:00〜00:00</p>
			</label>
			<div class="accordion_content">
				<table class="reserv_accordion_detail">
					<tr>
						<th>来店ステータス</th>
						<td>来店済</td>
					</tr>
					<tr>
						<th>予約申請時刻</th>
						<td>2016/00/00 00:00</td>
					</tr>
					<tr>
						<th>利用日</th>
						<td>2016/00/00</td>
					</tr>
					<tr>
						<th>利用予定時間</th>
						<td>00:00</td>
					</tr>
					<tr>
						<th>利用ポイント</th>
						<td>8,000Pt</td>
					</tr>
					<tr>
						<th>来店時刻</th>
						<td>14:00</td>
					</tr>
					<tr>
						<th>退店時刻</th>
						<td>16:00</td>
					</tr>
					<tr>
						<th>キャンセル</th>
						<td>なし</td>
					</tr>
					<tr>
						<th>キャンセル時刻</th>
						<td>-</td>
					</tr>
					<tr>
						<th>発生ポイント</th>
						<td>80Pt</td>
					</tr>
					<tr>
						<th>累計利用回数</th>
						<td>6</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
</ion-content>
</ion-view>
