@CHARSET "UTF-8";
/*　----- reserv_home_salon start -----　*/
.reserv_home_salon {
	width:100%;
	display: inline-block;
	padding:10px 5px;
}

.reserv_home_salon dl   {
	width: 25%;
	display: block;
	float: left;
	padding: 0px 5px;
	margin-bottom: 10px;
}

.reserv_home_salon dl dt {
	font: 12px nomale;
	display: block;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.reserv_home_salon dl dd {
	position: relative;
	height: auto;
	min-height: 100px;
	width:100%;
	display: inline-block;
	overflow:hidden;
	background-color: #DDD;
}

.reserv_home_salon dl dd > img {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	min-width:100px;
	min-height: 100px;
}

.reserv_home_salon p {
	width:100%;
	text-align: right;
	color:#A87544;
}
/*　----- reserv_home_salon end -----　*/

/*　----- reserv_home_salon start -----　*/
.reserv_home_search {
	overflow: hidden;
	font-size: 0;
	width: 100%;
}

.reserv_home_search li {
	/*height: 100px;*/
	width: 100%;
}

.reserv_home_search img{
	margin:0px;
	width: 100%;
	height: auto;
	vertical-align: top;
	/*min-height: 100px;*/
}

/*　----- reserv_home_salon end -----　*/


/* ===== SP ===== */
@media screen and (max-width: 550px) {
/*　----- reserv_home_salon start -----　*/
.reserv_home_salon {
	width: 100%;
	padding: 0px;
	margin: 0px;
	display: inline-block;
}

.reserv_home_salon dl   {
	width: 50%;
	margin: 0px;
	padding: 0px;
	position: relative;
	margin-bottom: -4px;
}

.reserv_home_salon dl dt {
	width: 100%;
	padding: 10px 5px;
	overflow: hidden;
	position: absolute;
	bottom: 4px;
	background-color: rgba(0,0,0,0.5);
	color: #FFF;
}

.reserv_home_salon p {
	padding: 9px 5px 5px;
	text-align: center;
}

.reserv_home_salon p > span {
	background-color: #A87544;
	border-radius:4px;
	color: #FFF;
	display: inline-block;
	width: 100%;
	padding: 10px;
}

/*　----- reserv_home_salon end -----　*/

}
