<ion-view>

	<!-- タブ -->
	<div class="tabs-striped tabs-top miral_tab">
		<div class="tabs">
			<a class="tab-item active" ng-click ="beautiReservReservHome()"><i class="icon ion-android-favorite"></i></a>
			<a class="tab-item" ng-click ="beautiReservReservInfo()"><i class="icon ion-android-calendar"></i></a>
			<a class="tab-item" ng-click ="beautiReservMessageList()"><i class="icon ion-android-textsms"></i></a>
		</div>
	</div>
	
<ion-content class="miralbody reserv_home has-header-w">
<div class="miralbody_wrap">
	<!-- 最近マッチしたサロン -->
	<p class="c01 titleBar maT10">最近マッチしたサロン</p>
	<div class="reserv_home_salon">
		<dl ng-click="beautiHomeSalonDetail()">
			<dd class="liquid_box1x1"><img src="./beauti/home/salon_detail/img/salon01_1.jpg"></dd>
			<dt>店舗名~店舗名~店舗名~店舗名~</dt>
		</dl>
		<dl ng-click="beautiHomeSalonDetail()">
			<dd class="liquid_box1x1"><img src="./beauti/home/salon_detail/img/salon01_2.jpg"></dd>
			<dt>店舗名</dt>
		</dl>
		<dl ng-click="beautiHomeSalonDetail()">
			<dd class="liquid_box1x1"><img src="./beauti/home/salon_detail/img/salon01_3.jpg"></dd>
			<dt>店舗名</dt>
		</dl>
		<dl ng-click="beautiHomeSalonDetail()">
			<dd class="liquid_box1x1"><img src="./beauti/home/salon_detail/img/salon01_4.jpg"></dd>
			<dt>店舗名</dt>
		</dl>
		<p class="clB" ng-click="beautiReservSalonList()">もっとみる</p>
	</div>

	<!-- サロン検索 -->
	<p class="c01 titleBar">サロン検索</p>
	<ul class="reserv_home_search">
		<li ng-click="beautiReservReservList()"><img src="./beauti/reserv/reserv_home/img/campaign_01.png"></li>
	</ul>
	<!-- 検索ボックス -->
	<div class="searchbox">
		<div>
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Search">
			</label>
		</div>
		<button class="button c01" ng-click="beautiReservReservList()">検索</button>
	</div>
	<ul class="reserv_home_search">
		<li ng-click="beautiReservReservList()"><img src="./beauti/reserv/reserv_home/img/campaign_02.png"></li>
		<li ng-click="beautiReservReservList()"><img src="./beauti/reserv/reserv_home/img/campaign_03.png"></li>
		<li ng-click="beautiReservReservList()"><img src="./beauti/reserv/reserv_home/img/campaign_04.png"></li>
	</ul>
</div>
</ion-content>
</ion-view>
