@CHARSET "UTF-8";

.map-embed{
	max-width: 100% ;
	height: 100%;
	margin: 0 ;
	padding: 0 0;
	overflow: hidden ;
	position: relative ;
	top: 0 ;
	left: 0 ;
}

.map-embed > div{
	position: absolute ;
	top: 0 ;
	left: 0 ;
	width: 100% ;
	height: 100% ;
	margin: 0 ;
	padding: 0 ;
}

.map-embed img{
	max-width: none ;
}

.reserv_map {
	padding-top: 93px;
	position: relative;
	width: 100%;
	height: 100%;
}

.reserv_map > div.reserv_map_detailWrap {
	position: absolute;
	display: block;
	z-index: 8;
	bottom: 0;
	width: 100%;
	margin-bottom: -4px;
}

.reserv_map > div.reserv_map_detailWrap > div.reserv_map_ListIcon {
	width: 60px;
	height: 60px;
	border-radius:30px;
	display:inline-block;
	background-color: #A87544;
	z-index: 10;
	cursor: pointer;
	float: right;
	margin: 20px;
	padding: 15px 19px;
	color: #FFF;
	font-size: 30px;
}

.reserv_map > .reserv_map_detailWrap > div.reserv_map_detail {
	display: inline-block;
	width: 100%;
	height: 200px;
	background-color: #FFF;
	bottom:0;
	z-index: 9;
	padding: 10px;
}

.reserv_map > .reserv_map_detailWrap > div.reserv_map_detail:before {
	content: "";
    display: block;
    width: 0;
    height: 0;
    border-bottom: 20px solid #FFF;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    margin: -19px auto 0;
}

.reserv_map_detailBox {
	width: 100%;
	height: 100%;
	position: relative;
}

.reserv_map_detailBox > p.titleBar > span {
	display: inline-block;
	float: right;
}

.reserv_map_detailPrice {
	position: absolute;
	width: 100%;
	height: 50px;
	padding: 15px 0px;
	background-color: rgba(0,0,0,0.5);
	bottom: 0;
}

.reserv_map_detailPrice p {
	width: 50%;
	float: left;
	color: #FFF;
	text-align: center;
}

.reserv_map_detailImg span {
	display: inline-block;
	width: 50%;
	height: 150px;
	float: left;
	overflow: hidden;
}

.reserv_map_detailImg span img {
	width: 100%;
	height: 100%;
	min-width: 200px;
	min-height: 200px;
	}

.reserv_map_detailPrice p:first-child {
	border-right: 2px solid #FFF;
	box-sizing:boderbox;
}

.gm-style .gm-style-iw {
	width: 50px;
}

.gm-style-iw + div {
	display: none;
}

.reserv_map_price {
	width: 50px;
	text-align: center;
	display: inline-block;
}