@CHARSET "UTF-8";

/*　----- img_edit start -----　*/
span.img_edit {
	background-color: rgba(255,255,255,0.5);
	height: 100%;
	width: 100%;
	display: inline-block;
	position: absolute;
	color: #FFF;
	padding:10px;
}

span.img_edit span {
	width:100%;
	height:100%;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	border: 2px dotted #FFF;
	margin: auto;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}
/*　----- img_edit end -----　*/

/*　----- galleryimg_add start -----　*/
li.galleryimg_add {
	background-color: rgba(255,255,255,0.5);
	display:table;
	box-sizing:border-box;
	padding: 6px;
}

li.galleryimg_add > span {
	width: 100%;
	height: 100%;
	display: table-cell;
	border: dotted 2px #FFF;
	vertical-align: middle;
	text-align: center;
}

li.galleryimg_add > span:before {
	content: "+";
	font-size: 20px;
}
/*　----- galleryimg_add end -----　*/