@CHARSET "UTF-8";

/*　----- review_edit_rating start -----　*/
.review_edit_rating {
	padding-bottom: 20px;
}
/*　----- review_edit_rating end -----　*/

/*　----- review_edit_comment start -----　*/
.review_edit_comment {
	width: 100%;
	padding-bottom: 15px;
}

.review_edit_comment textarea {
	width: 100%;
	height: 110px;
	border: solid #DDD 1px;
	resize: none;
	padding: 10px;
}
/*　----- review_edit_comment end -----　*/

/*　----- review_edit_star start -----　*/
.review_edit_star {
	font-size: 35px;
}
/*　----- review_edit_star end -----　*/