@CHARSET "UTF-8";

/*　----- point_buy_list start -----　*/
.point_buy_list p {
	width: auto;
	color:#A87544;
	font-size: 20px;
	float: left;
	padding: 12px;
}

.point_buy_list button {
	width: 150px;
	float: right;
}
/*　----- point_buy_list end -----　*/