@CHARSET "UTF-8";

/* ----- s_home_top_cam  start -----*/
.s_home_top_cam {
	height: 250px;
	width: 100%;
	overflow: hidden;
}

.s_home_top_cam img{
	width: 100%;
	height: auto;
	min-height: 250px;
}
/* ----- s_home_top_cam end -----*/

/* ----- s_home_top_button start ----- */
.s_home_top_button li {
	height: 130px;
	width: 33.3%;
	display: inline-block;
	background-color: #7f5a34;
	margin: 0px;
	float: left;
	text-align: center;
	padding-top:30px;
	color: #FFF;
}

.s_home_top_button i {
	font-size: 50px;
}

.s_home_top_button li:nth-child(2) {
	background-color: #cc9054;
}
/* ----- s_home_top_button end ----- */