<ion-view>
<ion-content class="miralbody salon_srhrst">
<div class="miralbody_wrap">
	<!-- 検索ボックス -->
	<div class="searchbox">
		<div>
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Search" ng-model="form.salonName" >
			</label>
		</div>
		<button class="button c01" ng-click="onSrhSalon()">検索</button>
	</div>

	<!-- サロン一覧 -->
	<ul class="list" ng-repeat="s in salonList">
		<!-- 1 -->
		<li class="item salon_srhrst_result" ng-click="beautiHomeSalonDetail()">
			<div class="salon_srhrst_result_text" ui-sref="beauti-home-salon-detail">
				<div>
					<p class="flL">1時間 <span>Pt {{::s.oneHourPoint}}</span></p>
					<p>1日 <span>Pt {{::s.oneDayPoint}}</span></p>
				</div>
					<p class="titleBar c01">
　　　　　　　　　　　　　　	<span class="salon_srhrst_result_station flL">｢{{::s.stationName}}」駅  徒歩{{::s.workingTime}}分 {{::s.name}}</span>
						<span ng-bind-html="s.star"></span>
						<span class="salon_srhrst_result_review">{{::s.compEval}}</span>
					</p>
			</div>
			<div><!-- 店舗写真 -->
<!--一枚になるよ--><span class="salon_srhrst_result_img flL"><img src="#"></span>
				<span class="salon_srhrst_result_img flL"><img src="#"></span>
			</div>
		</li>
	
	</ul>
	
	<div class="padding">
		<button class="button button-block c01 maN">もっと表示する</button>
	</div>
    
</div>
</ion-content>
</ion-view>
