<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

	<!-- CSS -->
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/miral.css" rel="stylesheet">

    <link href="beauti/home/home_top/home_top.css" rel="stylesheet">
    <link href="beauti/home/salon_srhrst/salon_srhrst.css" rel="stylesheet">
	<link href="beauti/home/salon_detail/salon_detail.css" rel="stylesheet">
	<link href="beauti/home/announce_detail/announce_detail.css" rel="stylesheet">
	<link href="beauti/reserv/reserv_home/reserv_home.css" rel="stylesheet">
	<link href="beauti/reserv/reserv_list/reserv_list.css" rel="stylesheet">
	<link href="beauti/reserv/salon_list/salon_list.css" rel="stylesheet">
    <link href="beauti/home/request/request.css" rel="stylesheet">

	<link href="beauti/setting/account_edit/account_edit.css" rel="stylesheet">
	<link href="beauti/setting/license_edit/license_edit.css" rel="stylesheet">  
    <link href="beauti/setting/beauti_detail/beauti_detail.css" rel="stylesheet">
	<link href="beauti/setting/setting_home/setting_home.css" rel="stylesheet">

    
    <link href="login/login.css" rel="stylesheet">

	<!-- jQuery css -->
    <link href="css/lightbox.css" rel="stylesheet">
        
    <!-- utility lib css -->
    <link href="lib/material-design-icons-2_1/css/material-design-icons.css" rel="stylesheet">

    <!-- ionic extention css -->
    <link href="lib/ionic-ext/css/ionic-rating.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

	<!-- miral 独自のcss定義 -->
    <link href="beauti/home/home_top/home_top.css" rel="stylesheet">

    <!-- jQuery js -->
	<script src="lib/jquery/jquery-1.11.3.min.js"></script>
	
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- ionic extention -->
    <script src="lib/ionic-ext/js/ionic-image-lazy-load.js"></script>
    <script src="lib/ionic-ext/js/ionic-rating.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- utility lib js -->
    <script src="lib/date-ja-JP.js"></script>
    <script src="lib/numeral/numeral.min.js"></script>
    <script src="lib/numeral/ja.min.js"></script>
    <script src="lib/math.min.js"></script>

	<!-- google map -->
 	<script src="https://maps.googleapis.com/maps/api/js"></script>

	<!-- Falsebook -->
    <script src="common/facebook/facebookConnecter.js"></script>

	<!-- Instagram -->
    <script src="lib/ng-cordova-oauth.min.js"></script>
    <script src="common/instagram/instagramConnecter.js"></script>

	<!-- Twitter -->
    <script src="common/twitter/twitterConnecter.js"></script>

	<!-- google plus -->
    <script src="common/googleplus/googleplusConnecter.js"></script>
	
	<!-- google app engin -->
    <script src="common/google_appengin/googleAppenginConnecter.js"></script>
	<script>
    	function googleClientOnLoad() {
    		//ここでアプリが使用できるようにする
    	}
	</script>	
	<script src="https://apis.google.com/js/client.js?onload=googleClientOnLoad"></script>


    <!-- your app's js -->
    <script src="js/app.js"></script>

	<!-- ここに新規のコントローラ、サービス、専用モジュールを追加 -->
    <script src="login/login_ctl.js"></script>
    <script src="login/login_fnc.js"></script>
    
    <script src="beauti/home/home_top/home_top_ctl.js"></script>
    <script src="beauti/home/announce/announce_ctl.js"></script>
    <script src="beauti/home/announce_detail/announce_detail_ctl.js"></script>
    <script src="beauti/home/request/request_ctl.js"></script>
    <script src="beauti/home/salon_srhrst/salon_srhrst_ctl.js"></script>
    <script src="beauti/home/salon_detail/salon_detail_ctl.js"></script>

    <script src="beauti/reserv/reserv_home/reserv_home_ctl.js"></script>
    <script src="beauti/reserv/reserv_list/reserv_list_ctl.js"></script>
    <script src="beauti/reserv/reserv_map/reserv_map_ctl.js"></script>
    <script src="beauti/reserv/salon_list/salon_list_ctl.js"></script>
    <script src="beauti/reserv/favorite/favorite_ctl.js"></script>

    <script src="beauti/setting/setting_home/setting_home_ctl.js"></script>
    <script src="beauti/setting/beauti_detail/beauti_detail_ctl.js"></script>
    <script src="beauti/setting/account_edit/account_edit_ctl.js"></script>
    <script src="beauti/setting/license_edit/license_edit_ctl.js"></script>
<!-- aoki -->
    <script src="beauti/setting/license_edit/license_edit_fnc.js"></script>

<!-- aoki -->
    <script src="common/accountService.js"></script>

    
	<!-- miral共通モジュール -->
    <script src="common/miralUtil.js"></script>
    <script src="common/loginInfo.js"></script>
    <script src="common/miralConfig.js"></script>
    <script src="common/miralConst.js"></script>
    <script src="common/navi_bar_ctl.js"></script>

    
  </head>

  <script type="text/javascript">
	numeral.language('ja');
  </script>
  <body ng-app="miral" class="">

   <ion-nav-bar >
		<div class="bar bar-header bar-stable beautiHd">
	       <ion-nav-back-button style="margin-left:4px" side="left">戻る</ion-nav-back-button>
			<ion-nav-buttons side="right">
			　　<div class="iconHd" ng-controller="commonNaviBarControllers">
					<img src="./img/common/1/logo.svg" />
					<button class="button" ng-click="onHome()"><i class="ion-android-home"></i></a>
					<button class="button" ng-click="onReserv()"><i class="ion-android-favorite"></i></a>
					<button class="button" ng-click="onSetting()"><i class="ion-android-settings"></i></button>
				</div>
			</ion-nav-buttons>
		</div>
    </ion-nav-bar>
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
<!--     <ion-nav-bar class="bar-stable"> -->
<!--       <ion-nav-back-button>戻る</ion-nav-back-button> -->
<!--     </ion-nav-bar> -->
    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <ion-nav-view></ion-nav-view>
  </body>
</html>
