@CHARSET "UTF-8";

.stationBox {
    width: 100%;
    margin-top: -1px;
    padding-top: 0;
    background-color: #fff;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: #DDD;
}

.list.trainroute_chooser {
	margin: 0;
	padding: 0;
}

.station_name {
	display: inline-block;
	padding: 10px 20px;
	font-size: 17px;
	width: 100%;
	margin: 0;
	text-align: center;
}
