<ion-view >
  <ion-content class="miralbody">
    <p class="c01 titleBar">駅名検索</p>
    <div class="padding">
      <div class="list trainroute_chooser">
        
        <!-- 検索 -->
		<div class="searchbox">
		  <div>
			<label class="item item-input">
			  <i class="icon ion-search placeholder-icon"></i>
			  <input type="text" placeholder="Search" ng-model="form.TName">
			</label>
		  </div>
		  <button class="button c01" ng-click="onSrhStationList()">検索</button>
		</div>
        
        <!-- 駅名 -->
        <ul id="list" ng-repeat="s in stationList">
          <div class="stationBox">
		    <div class="center">
			  <li class="station_name">{{s.trainName+':'+s.stationName}}</li>
	        </div>
	      </div>
        </ul>
          
      </div>
    </div>
  </ion-content>
</ion-view>
