<ion-view>
<ion-content class="miralbody">
<div class="miralbody_wrap">
<p class="c01 titleBar">ギャラリーの編集</p>

	<br>
	<div>
	<button class="button icon ion-ios-trash" ng-click="onChangeMode()"></button>
	</div >
	
	<p class="contentbox_title">ギャラリーの変更</p>
	<div  id="salon_gallery_edit_imglist" class="contentbox" sortable  draggable=".galley_edit_imagebox" >
	  <i class="imgsortable_trashbox icon ion-close-circled" style="display:none;font-size:64pt" class="icon ion-close-circled"></i>  
	</div>
	<button class="button button-block c01" ng-click="salonAddImg()">ギャラリーの追加</button>
	<br>
	<button class="button button-block c01" ng-click="upload()">変更を保存する</button>
	<img id="salon_gallery_edit_workimg" style="display:none">
</div>
</ion-content>
</ion-view>
