<ion-view>
	<!-- タブ -->
	<div class="tabs-striped tabs-top miral_tab">
		<div class="tabs">
			<a class="tab-item" ng-click ="beautiReservReservHome()"><i class="icon ion-android-favorite"></i></a>
			<a class="tab-item" ng-click ="beautiReservReservInfo()"><i class="icon ion-android-calendar"></i></a>
			<a class="tab-item active" ng-click ="beautiReservMessageList()"><i class="icon ion-android-textsms"></i></a>
		</div>
	</div>
	
<ion-content class="miralbody message_list has-header-w" >
<div class="miralbody_wrap">
	<!-- 1 -->
	<div class="contentbox" ng-click="beautiReservMessage()">
		<div class="message_list_img">
			<img class="list_salon_img" src="./img/salon/1/salon01_1.jpg">
		</div>
		<div class="message_list_text">
			<div>
				<span class="message_unread"></span>
				<span class="message_time">19:00</span>
				<p class="salon_name">salon Hair Design 池袋店</p>
				<p>2000年05月11日　10:00〜11:00 予約</p>
				<p>こんにちは。シェアのご予約ありがとうございました。予約内容は以下の通りになりますがお間違えないでしょうか。ご確認お願いいたします</p>
			</div>
		</div>
	</div>

	<!-- 2 -->
	<div class="contentbox" ng-click="beautiReservMessage()">
		<div class="message_list_img">
			<img class="list_salon_img" src="./img/salon/1/salon01_1.jpg">
		</div>
		<div class="message_list_text">
			<div>
				<span class="message_unread"></span>
				<span class="message_time">19:00</span>
				<p class="salon_name">salon Hair Design 池袋店</p>
				<p>2000年05月11日　10:00〜11:00 予約</p>
				<p>おはようございます！はようございます！おはようございます</p>
			</div>
		</div>
	</div>
	
	<!-- 3 -->
	<div class="contentbox" ng-click="beautiReservMessage()">
		<div class="message_list_img">
			<img class="list_salon_img" src="./img/salon/1/salon01_1.jpg">
		</div>
		<div class="message_list_text">
			<div>
				<span class="message_unread"></span>
				<span class="message_time">19:00</span>
				<p class="salon_name">salon Hair Design 池袋店</p>
				<p>2000年05月11日　10:00〜11:00 予約</p>
				<p>おはようございます！はようございます！おはようございます</p>
			</div>
		</div>
	</div>
		
	<!-- 4 -->
	<div class="contentbox" ng-click="beautiReservMessage()">
		<div class="message_list_img">
			<img class="list_salon_img" src="./img/salon/1/salon01_1.jpg">
		</div>
		<div class="message_list_text">
			<div>
				<span class="message_unread"></span>
				<span class="message_time">19:00</span>
				<p class="salon_name">salon Hair Design 池袋店</p>
				<p>2000年05月11日　10:00〜11:00 予約</p>
				<p>おはようございます！はようございます！おはようございます</p>
			</div>
		</div>
	</div>
		
	<!-- 5 -->
	<div class="contentbox" ng-click="beautiReservMessage()">
		<div class="message_list_img">
			<img class="list_salon_img" src="./img/salon/1/salon01_1.jpg">
		</div>
		<div class="message_list_text">
			<div>
				<span class="message_time">19:00</span>
				<p class="salon_name">salon Hair Design 池袋店</p>
				<p>2000年05月11日　10:00〜11:00 予約</p>
				<p>おはようございます！</p>
			</div>
		</div>
	</div>
</div>
</ion-content>
</ion-view>
