@CHARSET "UTF-8";

/* message_list start */
.message_list {
	width: 100%;
}

/* contentbox */
.message_list .contentbox {
	margin: 0px;
	margin-top: -1px;
	padding-bottom: 10px;
	width: 100%;
	display: inline-block;
}

/* message_list_img */
.message_list_img img {
	margin-right: -70px;
}

/* message_list_text */
.message_list_text {
	width: 100%;
	float: left;
}

.message_list_text > div {
	margin-left: 80px;
}

.message_list_text > div > p {
	margin: 0px;
	font-size: 12px;
}

.message_list_text > div > p.salon_name {
	font-size: 14px;
	color:#A87544;
}

.message_list_text > div > .message_unread::before {
	float: right;
	padding: 0px auto;
}

.message_list_text > div > .message_time {
	float: right;
	font-size: 12px;
	margin: 0px 5px;
}

.message_list_text > div > p:last-child {
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	width: 100%;
}
/* message_list end */

@media screen and (max-width: 414px) {
.message_list_img > img {
	display: none;
	
}

.message_list_text >div {
	margin-left: 0px;
}

}
