@CHARSET "UTF-8";

/*　----- account start -----　*/
.account_content {
	margin: 0px;
}

.account_content .contentbox {
	margin: 0px;
	margin-top: -1px;
	padding-bottom:15px; 
	cursor: pointer;
}
/*　----- account end -----　*/