<ion-view>
<ion-content class="miralbody">
<!-- プロフィールの編集　見出し -->
<p class="c01 titleBar">プロフィールの編集</p>
<div class="padding">
	<div class="contentbox salon_edit">

	
		
		<!-- 備考 -->
		<div class="contentbox_box">	
			<p class="contentbox_title">備考</p>
			<form method="post" action="">
			<textarea class="salon_edit_textarea" name="commnt" rows="4" ng-model="conditions"></textarea></p>
			</form>
		</div>			
		<br>
		
		<!-- オーナーからの一言 -->
		<div class="contentbox_box">	
			<p class="contentbox_title">オーナーからの一言</p>
			<form method="post" action="">
			<textarea class="salon_edit_textarea" name="commnt" rows="4"  ng-model="conditions_1"></textarea></p>
			</form>
  		</div>
  		<br>
	</div>
	</div>
	
	<button class="button button-block c01" ng-click="salonPrf()">変更を保存する</button>
</ion-content>
</ion-view>
