<ion-view>

	<!-- タブ -->
	<div class="tabs-striped tabs-top miral_tab">
		<div class="tabs">
			<a class="tab-item active" ng-click ="salonScheduleShareRequest()">シェアリクエスト</a>
			<a class="tab-item" ng-click ="salonScheduleBeautiList()">スタイリスト一覧</a>
		</div>
	</div>

<ion-content class="miralbody share_request has-header-w">
	
	<!-- 1 -->
	<div class="share_request_content" >
		<div class="share_request_content_label">
			<p class="share_request_name">
				本田涼子
				<span class="share_request_review">★★★★★ 4.9</span>
			</p>
			<ul class="share_request_button">
				<li class="share_request_b_yes" ng-click="shareRequestPopup()"><i class="ion-android-radio-button-off"></i></li>
				<li class="share_request_b_no" ng-click="shareRequestNoPopup()"><i class="ion-android-close"></i></li>
				<li class="share_request_b_mes" ng-click="salonScheduleMessage()"><i class="ion-chatbubble-working"></i></li>
			</ul>
		</div>
		<div ng-click="beautiSettingBeautiDetail()">
			<div class="share_request_imgBox">
				<span class="share_request_mainImg"><img src="./img/beauti/1/profile.png"></span>
			</div>
			<div class="share_request_imgBox">
				<span class="share_request_subImg c02"><img src="./img/beauti/1/mygallery_01.jpg"></span>
				<span class="share_request_subImg c03"><img src="./img/beauti/1/mygallery_02.jpg"></span>
				<span class="share_request_subImg c06"><img src="./img/beauti/1/workgallery_01.jpg"></span>
				<span class="share_request_subImg c05"><img src="./img/beauti/1/workgallery_02.jpg"></span>
			</div>
		</div>
	</div>

	<!-- 2 -->
	<div class="share_request_content">
		<div class="share_request_content_label">
			<p class="share_request_name">
				本田涼子
				<span class="share_request_review">★★★★★ 4.9</span>
			</p>
			<ul class="share_request_button">
				<li class="share_request_b_yes" ng-click="shareRequestPopup()"><i class="ion-android-radio-button-off"></i></li>
				<li class="share_request_b_no" ng-click="shareRequestNoPopup()"><i class="ion-android-close"></i></li>
				<li class="share_request_b_mes" ng-click="salonScheduleMessage()"><i class="ion-chatbubble-working"></i></li>
			</ul>
		</div>
		<div ng-click="beautiSettingBeautiDetail()">
			<div class="share_request_imgBox">
				<span class="share_request_mainImg"><img src="./img/beauti/1/profile.png"></span>
			</div>
			<div class="share_request_imgBox">
				<span class="share_request_subImg c02"><img src="./img/beauti/1/mygallery_01.jpg"></span>
				<span class="share_request_subImg c03"><img src="./img/beauti/1/mygallery_02.jpg"></span>
				<span class="share_request_subImg c06"><img src="./img/beauti/1/workgallery_01.jpg"></span>
				<span class="share_request_subImg c05"><img src="./img/beauti/1/workgallery_02.jpg"></span>
			</div>
		</div>
	</div>

	<!-- 3 -->
	<div class="share_request_content">
		<div class="share_request_content_label">
			<p class="share_request_name">
				本田涼子
				<span class="share_request_review">★★★★★ 4.9</span>
			</p>
			<ul class="share_request_button">
				<li class="share_request_b_yes" ng-click="shareRequestPopup()"><i class="ion-android-radio-button-off"></i></li>
				<li class="share_request_b_no" ng-click="shareRequestNoPopup()"><i class="ion-android-close"></i></li>
				<li class="share_request_b_mes" ng-click="salonScheduleMessage()"><i class="ion-chatbubble-working"></i></li>
			</ul>
		</div>
		<div ng-click="beautiSettingBeautiDetail()">
			<div class="share_request_imgBox">
				<span class="share_request_mainImg"><img src="./img/beauti/1/profile.png"></span>
			</div>
			<div class="share_request_imgBox">
				<span class="share_request_subImg c02"><img src="./img/beauti/1/mygallery_01.jpg"></span>
				<span class="share_request_subImg c03"><img src="./img/beauti/1/mygallery_02.jpg"></span>
				<span class="share_request_subImg c06"><img src="./img/beauti/1/workgallery_01.jpg"></span>
				<span class="share_request_subImg c05"><img src="./img/beauti/1/workgallery_02.jpg"></span>
			</div>
		</div>
	</div>

</ion-content>
</ion-view>
