@CHARSET "UTF-8";

/* TOP */
.home_top_camimg , 
.home_top_banaimg {
	width:100%;
	margin-bottom:-5px;
}

div.home_top_annbox {
	width:100%;
	background-color: #FFF;
	padding: 5px;
}

div.home_top_annbox ul li {
	padding: 5px;
	margin: 0px 10px;
}


