@CHARSET "UTF-8";

/* ----- b_home_top_cam start -----*/
.b_home_top_cam {
	overflow: hidden;
}

.b_home_top_cam li {
	height: 200px;
	width: 100%;
}

.b_home_top_cam img{
	margin:0px;
	width: 100%;
	height: auto;
	min-height: 200px;
}
/* ----- b_home_top_cam end -----*/
