<ion-view>
	<!-- タブ -->
	<div class="tabs-striped tabs-top miral_tab">
		<div class="tabs">
			<a class="tab-item" ng-click ="beautiReservSalonList()">サロン一覧</a>
			<a class="tab-item active" ng-click ="beautiReservFavorite()">お気に入り</a>
		</div>
	</div>

<ion-content class="miralbody fovaorite has-header-w">
<div class="miralbody_wrap">
	<!-- お気に入りサロン一覧 -->	
	<div class="padding salon_list">
		<!-- 1 -->
		<div class="contentbox reserv_accordion" ng-click="beautiHomeSalonDetail()">
			<img class="list_salon_img" src="./beauti/home/salon_detail/img/salon01_1.jpg">
			<div class="salon_list_label salon_list_label_favorite">
				<p>salon Hair Design 池袋店</p>
				<span class="favorite_button">
					<input id="reserv_list_favorite_01" name="reserv_list" type="checkbox" checked/>
					<label for="reserv_list_favorite_01"><i class="ion-android-favorite"></i></label>
				</span>
			</div>
			<div class="accordion reserv_accordion_today">
				<input id="salon_list_reserv" type="checkbox">
				<label for="salon_list_reserv">
				<p>
					<span class="reserv_today"></span>
					<span>利用予定時刻</span>
					<span>10:00~11:00</span>
					<span>詳細</span>
				</p>
				</label>
				<div class="accordion_content">
					<table class="reserv_accordion_detail">
						<tr>
							<th>予約ステータス</th>
							<td>予約完了</td>
						</tr>
						<tr>
							<th>予約申請日</th>
							<td>2016-00-00</td>
						</tr>
						<tr>
							<th>予約申請時刻</th>
							<td>15:09:49</td>
						</tr>
						<tr>
							<th>利用予定日</th>
							<td>2016-00-00</td>
						</tr>
						<tr>
							<th>利用予定時刻</th>
							<td>9:00~18:00</td>
						</tr>
						<tr>
							<th>利用予定時間</th>
							<td>9:00:00</td>
						</tr>
						<tr>
							<th>利用予定ポイント</th>
							<td>8000Pt</td>
						</tr>
					</table>
				</div>
			</div>
		</div>

		<!-- 2 -->	
		<div class="contentbox reserv_accordion" ng-click="beautiHomeSalonDetail()">
			<img class="list_salon_img" src="./beauti/home/salon_detail/img/salon01_1.jpg">
			<div class="salon_list_label salon_list_label_favorite">
				<p>IGARASHI star hair studio お台場ヴィーナスフォート店</p>
				<span class="favorite_button">
					<input id="reserv_list_favorite_04" name="reserv_list" type="checkbox" checked />
					<label for="reserv_list_favorite_04"><i class="ion-android-favorite"></i></label>
				</span>
			</div>
		</div>
		
		<!-- 3 -->
		<div class="contentbox reserv_accordion" ng-click="beautiHomeSalonDetail()">
			<img class="list_salon_img" src="./beauti/home/salon_detail/img/salon01_1.jpg">
			<div class="salon_list_label salon_list_label_favorite">
				<p>green Box　shibuya</p>
				<span class="favorite_button">
					<input id="reserv_list_favorite_06" name="reserv_list" type="checkbox" checked />
					<label for="reserv_list_favorite_06"><i class="ion-android-favorite"></i></label>
				</span>
			</div>
		</div>
	</div>
</div>
</ion-content>
</ion-view>
