<ion-view>
	<div class="tabs-striped tabs-top search_tab">
		<div class="tabs">
			<span class="tab-item　tab_title">利用日時</span>
			<a class="tab-item" href="#">今日</a>
			<a class="tab-item" href="#">明日</a>
			<a class="tab-item active" href="#">選択しない</a>
		</div>
	</div>
	<div class="reserv_map_MapIcon" ng-click="beautiReservReservMap()"><i class="ion-ios-location"></i></div>
<ion-content class="miralbody has-header-w reserv_list">
<div class="miralbody_wrap">
	<!-- サロン一覧 -->
	<ul class="list">
	
		<!-- 1 -->
		<li class="item reserv_list_result" ng-click="beautiHomeSalonDetail()">
			<span class="favorite_button">
				<input id="reserv_list_favorite_01" name="reserv_list" type="checkbox" checked />
				<label for="reserv_list_favorite_01"><i class="ion-android-favorite"></i></label>
			</span>
			<span class="reserv_list_result_vacancy">
				<span class="reserv_today"></span>
				<span class="reserv_tomorrow"></span>
			</span>	
			<div class="reserv_list_result_text" ui-sref="beauti-home-salon-detail">
				<div>
					<p class="flL">1時間 <span>1000Pt</span></p>
					<p>1日 <span>8000Pt</span></p>
				</div>
					<p class="titleBar c01">salonHairDesign
						<span class="salon_srhrst_result_station flL">JR「池袋」駅  徒歩5分</span>
						<span class="salon_srhrst_result_review">★★★★★ 4.6</span>
					</p>
			</div>
			<div><!-- 店舗写真 -->
				<span class="reserv_list_result_img flL"><img src="./img/salon/1/salon01_1.jpg"></span>
				<span class="reserv_list_result_img flL"><img src="./img/salon/1/salon01_2.jpg"></span>
			</div>
		</li>
	
		<!-- 2 -->
		<li class="item reserv_list_result" ng-click="beautiHomeSalonDetail()">
			<span class="favorite_button">
				<input id="reserv_list_favorite_02" name="reserv_list" type="checkbox" />
				<label for="reserv_list_favorite_02"><i class="ion-android-favorite"></i></label>
			</span>
			<span class="reserv_list_result_vacancy">
				<span class="reserv_tomorrow"></span>
			</span>	
			<div class="reserv_list_result_text" ui-sref="beauti-home-salon-detail">
				<div>
					<p class="flL">1時間 <span>1000Pt</span></p>
					<p>1日 <span>8000Pt</span></p>
				</div>
					<p class="titleBar c01">salonHairDesign
						<span class="salon_srhrst_result_station flL">JR「池袋」駅  徒歩5分</span>
						<span class="salon_srhrst_result_review">★★★★★ 4.6</span>
					</p>
			</div>
			<div><!-- 店舗写真 -->
				<span class="reserv_list_result_img flL"><img src="./img/salon/1/salon01_1.jpg"></span>
				<span class="reserv_list_result_img flL"><img src="./img/salon/1/salon01_2.jpg"></span>
			</div>
		</li>
		
		<!-- 3 -->
		<li class="item reserv_list_result" ng-click="beautiHomeSalonDetail()">
			<span class="favorite_button">
				<input id="reserv_list_favorite_03" name="reserv_list" type="checkbox" />
				<label for="reserv_list_favorite_03"><i class="ion-android-favorite"></i></label>
			</span>
			<span class="reserv_list_result_vacancy">
				<span class="reserv_today"></span>
			</span>	
			<div class="reserv_list_result_text" ui-sref="beauti-home-salon-detail">
				<div>
					<p class="flL">1時間 <span>1000Pt</span></p>
					<p>1日 <span>8000Pt</span></p>
				</div>
					<p class="titleBar c01">salonHairDesign
						<span class="salon_srhrst_result_station flL">JR「池袋」駅  徒歩5分</span>
						<span class="salon_srhrst_result_review">★★★★★ 4.6</span>
					</p>
			</div>
			<div><!-- 店舗写真 -->
				<span class="reserv_list_result_img flL"><img src="./img/salon/1/salon01_1.jpg"></span>
				<span class="reserv_list_result_img flL"><img src="./img/salon/1/salon01_2.jpg"></span>
			</div>
		</li>
		
		<!-- 4 -->
		<li class="item reserv_list_result" ng-click="beautiHomeSalonDetail()">
			<span class="favorite_button">
				<input id="reserv_list_favorite_04" name="reserv_list" type="checkbox" />
				<label for="reserv_list_favorite_04"><i class="ion-android-favorite"></i></label>
			</span>
			<span class="reserv_list_result_vacancy">
				<span class="reserv_today"></span>
				<span class="reserv_tomorrow"></span>
			</span>	
			<div class="reserv_list_result_text" ui-sref="beauti-home-salon-detail">
				<div>
					<p class="flL">1時間 <span>1000Pt</span></p>
					<p>1日 <span>8000Pt</span></p>
				</div>
					<p class="titleBar c01">salonHairDesign
						<span class="salon_srhrst_result_station flL">JR「池袋」駅  徒歩5分</span>
						<span class="salon_srhrst_result_review">★★★★★ 4.6</span>
					</p>
			</div>
			<div><!-- 店舗写真 -->
				<span class="reserv_list_result_img flL"><img src="./img/salon/1/salon01_1.jpg"></span>
				<span class="reserv_list_result_img flL"><img src="./img/salon/1/salon01_2.jpg"></span>
			</div>
		</li>
	
		<!-- 5 -->
		<li class="item reserv_list_result" ng-click="beautiHomeSalonDetail()">
			<span class="favorite_button">
				<input id="reserv_list_favorite_05" name="reserv_list" type="checkbox" />
				<label for="reserv_list_favorite_05"><i class="ion-android-favorite"></i></label>
			</span>
			<span class="reserv_list_result_vacancy">
				<span class="reserv_today"></span>
				<span class="reserv_tomorrow"></span>
			</span>	
			<div class="reserv_list_result_text" ui-sref="beauti-home-salon-detail">
				<div>
					<p class="flL">1時間 <span>1000Pt</span></p>
					<p>1日 <span>8000Pt</span></p>
				</div>
					<p class="titleBar c01">salonHairDesign
						<span class="salon_srhrst_result_station flL">JR「池袋」駅  徒歩5分</span>
						<span class="salon_srhrst_result_review">★★★★★ 4.6</span>
					</p>
			</div>
			<div><!-- 店舗写真 -->
				<span class="reserv_list_result_img flL"><img src="./img/salon/1/salon01_1.jpg"></span>
				<span class="reserv_list_result_img flL"><img src="./img/salon/1/salon01_2.jpg"></span>
			</div>
		</li>
		
	</ul>
</div>
</ion-content>
</ion-view>
