@CHARSET "UTF-8";

/* ----- account_edit start ----- */
.account_edit .contentbox > div {
	margin: 5px 0px;
}
/* ----- account_edit end ----- */

/* ----- span.account_edit_text_indent start ----- */
span.account_edit_text_indent {
	width: 100%;
	float: left;
}

span.account_edit_text_indent > input[type="text"]{ 
	border-bottom: solid #DDD 1px;
	width:100%;
	padding-left: 60px;
}

span.account_edit_text_indent > span  {
	display: inline-block;
	padding: 5px;
	margin-right: -70px;
	width: 70px;
	float: left;
}
/* ----- span.account_edit_text_indent end ----- */

/* ----- account_edit_station start ----- */
.account_edit_station {
	display: inline-block;
	padding: 5px 0px;
	width: 100%;
	float: left;
}

.account_edit_station > span {
	display: inline-block;
	width: 80px;
	padding: 5px 0px;
}
.account_edit_station > a.button {
	padding: 0px 5px;
	line-height: 26px;
	height:26px;
	min-height: 30px;
}

.account_edit_station > p {
	margin: 0px;
	padding: 15px 5px 10px 80px;
}

/* ----- account_edit_station end ----- */

/* ----- span.salon_account_edit_openClose start ----- */
span.salon_account_edit_openClose > span  {
	margin-right: -120px;
	width: 120px;
	float: left;
	height: 20px;
}
/* ----- span.salon_account_edit_openClose end ----- */

/* ----- account_edit_openClose start ----- */
.account_edit_openClose > span {
	display: table;
	float: right;
}

.account_edit_openClose > span > .item-select {
	padding: 0px 40px 0px 0px;
	height: 25px;
}

.account_edit_openClose > span > .item-select > select {
	padding: 0px 30px 0px 0px;
}

.account_edit_openClose > span > div:nth-child(1) {
	width: 100px;
}

.account_edit_openClose > span > div:nth-child(3) {
	width: 70px;
}

.account_edit_openClose > span > div:nth-child(5) {
	width: 70px;
}

.account_edit_openClose > span > span:nth-child(2),
.account_edit_openClose > span > span:nth-child(4),
.account_edit_openClose > span > span:nth-child(6) {
	margin-bottom: 30px;
	display: table-cell;
	vertical-align: middle;
}

/* ----- account_edit_openClose end ----- */

/* ----- salon_week_checkbox start ----- */
.salon_week {
	width: 100%;
}

.salon_week > input[type="checkbox"]{
	display:none;
}

.salon_week > label {
	width:10%;
	display: inline-block;
	float: left;
	text-align:right;
	position: relative;
	padding-right: 56px;
	cursor: pointer;
	margin:5px;
}

.salon_week > label:after {
	position: absolute;
	top: 50%;
	right: 10px;
	display: block;
	margin-top: -10px;
	width: 24px;
	height: 24px;
	border: 2px solid #DDD;
	border-radius: 50%;
	content: '';
}

.salon_week > label:before {
	position: absolute;
	top: 50%;
	right: 15px;
	display: block;
	margin-top: -5px;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: #A87544;
	content: '';
	opacity: 0;
}

.salon_week > input[type=checkbox]:checked + label:before {
  opacity: 1;
}
/* ----- salon_week_checkbox end ----- */

/* ----- salon_account_edit_namePoint start ----- */
.salon_account_edit_namePoint{
	display: inline-block;
	padding: 5px;
	width: 50%;
	float: right;
}

span.salon_account_edit_namePoint > input[type="text"]{
	border-bottom: solid #DDD 1px;
	width: 100%;
	padding-right: 30px;
	float: left;
	text-align: right;
	height: 20px;
}

.salon_account_edit_point{
	float:right;
	width:20px;
	margin-left:-20px;
}
/* ----- salon_account_edit_namePoint end ----- */

/* ----- salon_account_edit_condition start ----- */
.salon_account_edit_condition{
	width:100%;
	margin:0 0 10px 0;
	border:1px #DDDDDD solid;
	resize:none;
}
/* ----- salon_account_edit_condition end ----- */
