@CHARSET "UTF-8";
/*************************************
			◇	Style	◇
**************************************/
html, body{　height: 100%; }

.miralbody {
	background: repeating-linear-gradient( 135deg, #FFF,#FFF 3px,#EEE 3px,#EEE 8px);
	color:#5C5C5C;
	margin: 0 auto;
}

.miralbody_wrap { width:100%; max-width: 960px; margin: 0 auto;}


a {	text-decoration: none;}

/* background-color */
.c01, .c01:hover, .c01.active, .c01.activated {	background-color: #A87544; color:#FFF; } /* 茶色 */
.c02, .c02:hover, .c02.active, .c02.activated {	background-color: #EB727E; color:#FFF; } /* ピンク */
.c03, .c03:hover, .c03.active, .c03.activated {	background-color: #19B0B8; color:#FFF; } /* 水色 */
.c04, .c04:hover, .c04.active, .c04.activated {	color:#FFF; } /* 白 */
.c05, .c05:hover, .c05.active, .c05.activated {	background-color: #5C5C5C; color:#FFF; } /* グレー (濃) */
.c06, .c06:hover, .c06.active, .c06.activated {	background-color: #DDDDDD; color:#5C5C5C; } /* グレー (薄)*/
.c07, .c07:hover, .c07.active, .c07.activated {	background-color: rgba(255,255,255,0.4); color:#FFF; border: #FFF solid 2px; } /* 白 (薄)*/


/* SNS color */
.cFB, .cFB:hover, .cFB.active , .cFB.activated {	background-color: #305097; color:#FFF; } /* Facebook */
.cGO, .cGO:hover, .cGO.active , .cGO.activated {	background-color: #db4a39; color:#FFF; } /* Google+ */
.cIN, .cIN:hover, .cIN.active , .cIN.activated {	background-color: #3F729B; color:#FFF; } /* Instagram */
.cTW, .cTW:hover, .cTW.active , .cTW.activated {	background-color: #55acee; color:#FFF; } /* twitter */

/* color */
.fc01 {	color: #A87544 !important;} /* 茶色 */
.fc02 {	color: #EB727E !important;} /* ピンク */
.fc03 {	color: #19B0B8 !important;} /* 水色 */
.fc04 {	color: #FFFFFF !important;} /* 白 */
.fc05 {	color: #5C5C5C !important;} /* グレー(濃) */
.fc06 {	color: #DDDDDD !important;} /* グレー(薄) */

/* float */
.flL {	float:left;}
.flR {	float:right;}
.clB {	clear:both;}

/* text-align */
.teAL {	text-align:left; }
.teAR {	text-align: right;}
.teAC {	text-align: center;}

/* font-size */
.fs12 {font-size: 12px;}
.fs14 {font-size: 14px;}
.fs17 {font-size: 17px;}
.fs21 {font-size: 21px;}

/* has-header-w (タブが２つある場合) */
.has-header-w {	top:93px !important;}

/* margin */
.maN   {	margin: 0px !important;}
.maT10 {	margin-top: 10px !important;}
.maR10 {	margin-right: 10px !important;}
.maB10 {	margin-bottom: 10px !important;}
.maL10 {	margin-left: 10px !important;}

/* padding */
.paN {	padding: 0px !important;}

/* boder */
.boN {	border:noen;}

/* input placeholder */
input::-moz-placeholder,textarea::-moz-placeholder {color: #FFF;}
input:-ms-input-placeholder,textarea:-ms-input-placeholder {color: #FFF; }
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {color: #FFF;text-indent: 0;}

/* display */
.diN {
	display: none !important;
}

/* liquid box */
.liquid_box1x1:before {
	content: "";
	display: block;
	padding-top:100%;
}

/*************************************
			◆	共通パーツ 	◆
**************************************/
/*　----- header start -----　*/
.beautiHd {
	z-index: 10;
}
div.iconHd > img {
	height:30px;
	margin:2px 0px;
	width: 80px;
}

div.iconHd .button {
	font-size:30px;
	border-radius:0px;
}
.iconHd > div > .button:hover ,
.iconHD > div > .button.active , .iconHD > div >.button.activated {
	color:#A87544;
	background-color: transparent;
	border-left: none;
	border-right: none;
	border-bottom: solid 4px #A87544;
	border-radius:0px;
	padding: 1px 9px 1px 9px;
}
/*　----- header end -----　*/

/*　----- titleBar start -----　*/
.titleBar {
	width: 100%;
	padding:5px 25px;
	box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.5);
	font-size:15px;
	margin: 0 0 1px 0;
	white-space: normal;
}
/*　----- titleBar end -----　*/

/*　----- icon start -----　*/
/*　お知らせ：キャンペーン  */
 span.ann_campaign:before{
	content: "キャンペーン";
	font-size: 12px;
	padding:1px 3px;
	margin: 0px 10px;
	color:#FFF;
	background-color: #EB727E;
	display: inline-block;
	width: 80px;
	text-align: center;
}

/*　お知らせ：ニュース  */
span.ann_news:before{
	content: "ニュース";
	font-size: 12px;
	padding:1px 3px;
	margin: 0px 10px;
	color:#FFF;
	background-color: #3DA75D;
	display: inline-block;
	width: 80px;
	text-align: center;
}

/*　お知らせ：メンテナンス  */
span.ann_maintenance:before {
	content: "メンテナンス";
	font-size: 12px;
	padding:1px 3px;
	margin: 0px 10px;
	color:#FFF;
	background-color: #387EF5;
	display: inline-block;
	width: 80px;
	text-align: center;
}

/*　履歴：来店済  */
span.hst_already:before {
	content: "来店済";
	font-size:12px;
	padding:3px 0px;
	margin: 0px 10px 0px 0px;
	color:#FFF;
	background-color: #A87544;
	display: inline-block;
	width: 50px;
	text-align: center;
}

/* 履歴：来店なし */
span.hst_none:before {
	content: "来店なし";
	font-size:12px;
	padding:3px 0px;
	margin: 0px 10px 0px 0px;
	color:#FFF;
	background-color: red;
	display: inline-block;
	width: 60px;
	text-align: center;
}

/* 履歴：キャンセル */
span.hst_cancel:before {
	content: "キャンセル";
	font-size:12px;
	padding:3px 0px;
	margin: 0px 10px 0px 0px;
	color:#FFF;
	background-color:#5C5C5C;
	display: inline-block;
	width: 75px;
	text-align: center;
}

/*　予約：今日  */
span.reserv_today:before {
	content: "今日";
	font-size:12px;
	padding:3px 0px;
	margin: 0px 10px 0px 0px;
	color:#FFF;
	background-color: #EB727E;
	display: inline-block;
	width: 40px;
	text-align: center;
}

/*　予約：明日  */
span.reserv_tomorrow:before {
	content: "明日";
	font-size:12px;
	padding:3px 0px;
	margin: 0px 10px 0px 0px;
	color:#FFF;
	background-color: #19B0B8;
	display: inline-block;
	width: 40px;
	text-align: center;
}

/*　メッセージ：未読  */
span.message_unread:before{
	content: "未読";
	font-size:12px;
	padding: 0px;
	margin: 0px 10px 0px 0px;
	color:#FFF;
	background-color: #A87544;
	display: inline-block;
	width: 40px;
	text-align: center;
}
/*　----- icon end -----　*/

/*　----- searchbox start -----　*/
.searchbox {
	width: 100%;
	height: 47px;
	overflow: hidden;
}
.searchbox > div {
	width: 100%;
	float: left;
	padding-right: 100px;
}

.searchbox label {
	width: 100%;
	border: none;
	height: 47px;
}

.searchbox label input {
	height: 47px;
}

.searchbox > button {
	width: 100px;
	border-radius:0px;
	font-size:12px;
	border: none;
	height: 47px;
	margin-left: -100.5px;
}
/*　----- searchbox end -----　*/

/*　----- contentbox start -----　*/
.contentbox {
	width: 100%;
	background-color: #FFF;
	border: solid 1px #DDD;
	margin: 10px 0px 0px;
	padding: 15px 15px 0px 15px;
	display: inline-block;
	vertical-align:top;
}
.contentbox:first-child {
	margin: 0px;
}

.contentbox_title {
	margin: 0px;
	padding: 0px 0px 15px 0px;
	display: block;
	font-size: 20px;
	color: #A87544;
}

.contentbox_content {
	width:100%;
	margin: 0px;
	padding: 0px 0px 15px 0px;
	display: inline-block;
}
/*　----- contentbox end -----　*/

/*　----- accordion start -----　*/
.accordion {
	width:100%;
	margin-top: 10px;
	border: solid 1px #DDD; 
	clear: both;
}

.accordion input {
	display: none;
}

.accordion label {
	position: relative;
	display: block;
	background: #FFF ;
	cursor: pointer;
	padding: 15px;
	border: none;
	font-size: 20px;
	color: #A87544;
}

.accordion label::after {
	position: absolute;
	top: 50%;
	right: 10px;
	display: block;
	content: '';
	width: 10px;
	height: 10px;
	margin-top: -10px;
	margin-right:7px;
	border-top: 1px solid #888;
	border-right: 1px solid #888;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
} 

.accordion input:checked + label::after {
	margin-top: -3px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.accordion .accordion_content {
	transition: 0.2s;
	height: 0;
	overflow: hidden;
	background: #FFF;
	padding: 0 15px;
	border: none;
}

.accordion input:checked  ~ .accordion_content {
	height: auto;
	padding: 0px 15px 15px 15px;
}

/*　----- accordion end -----　*/

/*　----- miral tab start -----　*/
.miral_tab > .tabs {
	position:relative;
	color:#5c5c5c;
	margin-bottom: 10px;
}

.miral_tab .tabs >.tab-item {
	border-bottom: solid #DDDDDD 5px;
	max-width: none;
	opacity:1.0;
}

.miral_tab.tabs-top.tabs-striped .tab-item.tab-item-active, 
.miral_tab.tabs-top.tabs-striped .tab-item.active, 
.miral_tab.tabs-top.tabs-striped .tab-item.activated{
	color:#A87544 !important;
	border-bottom: solid #A87544 5px !important;
}
/*　----- miral tab end -----　*/

/*　----- search tab start -----　*/
.search_tab　{
	display: block;
}

.search_tab > .tabs > span {
	width: 100px;
	background-color: #A87544;
	display: inline-block;
	color: #FFF;
	text-align:center;
}

.search_tab > .tabs  > a {
	max-width: none;
	color: #A87544;
	margin: 0px;
}

.search_tab > .tabs  > a.active , .search_tab > .tabs  > a.activated {
	max-width: none;
	border:none !important;
	color: #A87544;
	background: #FFDAB5;
	margin: none;
}

/*　----- search tab end -----　*/

/*　----- list img start -----　*/
/* salon */
img.list_salon_img {
	width: 60px;
	height: 60px;
	border-radius:30px;
	display: inline-block;
	float: left;
}

/* beauti */
img.list_beauti_img {
	width: 40px;
	height: 40px;
	border-radius:30px;
	display: inline-block;
	float: left;
}

/*　----- list img end -----　*/

/*　----- cancel_button start -----　*/
/* cancel_button */
.cancel_button > .popup{
	width: auto;
	margin: 0px 20px;
}

.cancel_button > .popup > .popup-head > h3{
	color: #A87544;
}

.cancel_button > .popup > .popup-body dt{
	margin-bottom: 10px;
}

.cancel_button > .popup > .popup-buttons >button {
	padding: 0 7px;
}

/*　----- cancel_button end -----　*/

/*　----- message_button start -----　*/
.message_button > .popup{
	width:100%;
	min-width:320px;
	max-width:500px;
	margin: 0px 20px;
}

.message_button > .popup > .popup-head > h3{
	color: #A87544;
}

.message_button > .popup > .popup-body dt{
	margin-bottom: 10px;
}

.message_button > .popup > .popup-buttons >button {
	padding: 0 7px;
}

/*　----- message_button end -----　*/

/*　----- toggle miral start -----　*/
.toggle.toggle-miral input:checked + .track {
  border-color: #A87544;
  background-color: #A87544; }
  
.toggle-small .toggle-miral input:checked + .track {
  background-color: rgba(239, 71, 58, 0.5); }

.toggle-small .toggle-miral input:checked + .track .handle {
  background-color: #A87544; }
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.imgsortable_placeholder {
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  display:inline-block;
}
/*　----- toggle miral end -----　*/

/*　----- 画像入れ替えdirective start -----　*/
.imgsortable_dragging {
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);

  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.imgsortable_placeholder {
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  display:inline-block;
}

.imgsortable_item {
	display:inline-block;
}
/* ----- 画像入れ替えdirective end -----　*/

/* ----- home_top_guide start -----*/
.home_top_guide {
	overflow: hidden;
}

.home_top_guide li {
	/*height: 100px;*/
	width: 100%;
}

.home_top_guide img{
	margin:0px;
	width: 100%;
	height: auto;
	/*min-height: 100px;*/
	vertical-align: top;
}
/* ----- home_top_guide end -----*/

/* ----- home_top_info start -----　*/
.home_top_info {
	display:inline-block;
	width: 100%;
	height:150px;
	padding: 10px;
	background-color: #FFF;
}

.home_top_infoContent {
	width:100%;
	height: 100px;
}

.home_top_infoContent li {
	margin:0px;
	width:100%;
	padding: 5px 0px;
	display: inline-block;
	cursor: pointer;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

.home_top_info p {
	width: 100%;
	text-align:right;
	padding: 10px 0px;
}
/* ----- home_top_info end -----　*/

/* ----- miral_gallery start ----- */
.miral_gallery {
	width:100%;
	height: auto;
	display: inline-block;
	vertical-align: top;
}

.miral_gallery_title {
	display:inline-block;
	width: 100%;
	height:auto;
	float: left;
	height: 60px;
	text-align: center;
	padding-top: 20px;
	font-size: 20px;
}

ul.miral_gallery_img {
	display: inline-block;
	width: 100%;
	border:solid;
	border-width: 0px 2px;
}

.miral_gallery_img li {
	position: relative;
	width: 33.3%;
	height:auto;
	float:left;
	display:inline-block;
	overflow: hidden;
	min-height: 120px;
	border:solid;
	border-width: 0px 2px;
}

.miral_gallery.c01 .miral_gallery_img li,
.miral_gallery.c01 ul.miral_gallery_img {
	border-color: #A87544;
}

.miral_gallery.c05 .miral_gallery_img li,
.miral_gallery.c05 ul.miral_gallery_img {
	border-color: #5C5C5C;
}

.miral_gallery.cIN .miral_gallery_img li,
.miral_gallery.cIN ul.miral_gallery_img {
	border-color: #3F729B;
}

.miral_gallery_img li img {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	min-width:120px;
	min-height: 120px;
}


/* ----- miral_gallery end ----- */

/* ----- favorite_button start ----- */
.favorite_button {
	z-index: 1;
	border: 0px;
}

.favorite_button input {
	display: none;
}

.favorite_button label {
	font-size: 25px;
	width:40px;
	height: 40px;
	border-radius:20px;
	display: inline-block;
	color:#DDD;
	text-align: center;
	border: 1px solid #DDD;
	padding: 2px;
	cursor: pointer;
	background-color: #FFF;
}

.favorite_button input:checked ~ label {
	color:#FAA;	
}
/* ----- favorite_button end ----- */

/* ----- salon_availabilityd start ----- */
.salon_availability table{
	width: 100%;
	border:solid #FFF 1px;
	margin-bottom: 10px;
}

.salon_availability table th {
	width: 8%;
	border:solid #FFF 1px;
	background-color: #EB727E; 
	color:#FFF;
}

.salon_availability table td {
	height: 20px;
	border:solid #FFF 1px;
	background-color: #DDD;
}
/* ----- salon_availability end ----- */

/* ----- salon_list , beauti_list start -----　*/
.salon_list > div.contentbox,
.beauti_list > div.contentbox {
	padding: 10px;
	width: 100%;
	position: relative;
}

.salon_list > div.contentbox > span,
.beauti_list > div.contentbox > span {
	float: left;
	}
/* ----- salon_list , beauti_list  end -----　*/

/* ----- salon_list_label start -----　*/
.salon_list_label {
	width: 100%;
	height:60px;
	display: inline-block;
	margin-left: -60px;
	padding-left: 70px;
}

.salon_list_label p {
	margin: 0px;
}

.salon_list_label p:first-child {
	font-size: 17px;
	margin: 5px 0px;
}

.salon_list_label > .favorite_button {
	position: absolute;
	top:20px;
	right: 10px;
}

.salon_list_label_favorite {
	padding-right: 40px;
}

/* ----- salon_list_label end -----　*/

/* ----- beauti_list_label start -----　*/
.beauti_list_label {
	width: 100%;
	height:40px;
	margin-left: -60px;
	padding-left: 10px;
	display: table-cell;
	vertical-align: middle;
}

.beauti_list_label p {
	margin: 0px;	
}

.beauti_list_label p:first-child {
	font-size: 17px;
	margin: 5px 0px;
}

.beauti_list_label > .favorite_button {
	position: absolute;
	top:20px;
	right: 10px;
}
/* ----- beauti_list_label end -----　*/

/* ----- reserv_accordion start ----- */
.reserv_accordion > .accordion  label {
	padding: 0px;
	color: #5C5C5C;
	font-size: 14px;
}

.reserv_accordion > .accordion  label::after {
	display: none;
}

.reserv_accordion > .accordion > .accordion_content {
	padding: 0px;
}

.reserv_accordion > .accordion input:checked ~ .accordion_content {
	width: 100%;
	padding: 0px;
}

/* reserv_accordion_today */
.reserv_accordion_today {
	width: 100%;
	border: solid 2px #EB727E;
	padding: 5px;
	margin-top: 10px;
	position: relative;
}

/* reserv_accordion_tomorrow */
.reserv_accordion_tomorrow {
	width: 100%;
	border: solid 2px #19B0B8;
	padding: 5px;
	margin-top: 10px;
	position: relative;
}

/* reserv_accordion_history */
.reserv_accordion_history {
	width: 100%;
	border: solid 2px #DDD;
	padding: 5px;
	margin-top: 10px;
	position: relative;
}


.reserv_accordion_today p,
.reserv_accordion_tomorrow p,
.reserv_accordion_history p {
	margin: 0px;
	width: 100%;
}

.reserv_accordion_today p span:last-child {
	color:#EB727E;
	float: right;
	margin: 2px 2px 2px 0px;
}

.reserv_accordion_tomorrow p span:last-child{
	color:#19B0B8;
	float: right;
	margin: 2px 2px 2px 0px;
}

.reserv_accordion_history p span:last-child {
	color:#5c5c5c;
	float: right;
	margin: 2px 2px 2px 0px;
}

/* reserv_accordion_detail */
table.reserv_accordion_detail {
	width: 100%;
	margin-top: 10px;
}

table.reserv_accordion_detail th {
	text-align: left;
	padding: 1px 3px;
	width: 135px;
	background-color: #DDD;
	border: solid 2px #FFF;
}

table.reserv_accordion_detail td {
	padding: 1px 10px;
}

/*　reserv_accordion_cancel , reserv_accordion_review start　*/
td.reserv_accordion_cancel , 
td.reserv_accordion_review {
	text-align: right;
	height: 20px;
}

.reserv_accordion_cancel a , 
.reserv_accordion_review a {
	font-size: 12px;
	cursor: pointer;
	padding: 6px 12px 6px 12px;
	color:#5C5C5C;
	text-decoration: noen;
	margin-right: -10px;
}

/* ----- reserv_accordion , reserv_accordion_review end ----- */

/* ----- salon_detaile icon start ----- */
.chair {
	background-repeat:no-repeat;
	background-image: url('../img/icon/salon_detail/icon001.png');
	background-position:50% 20%;
	background-size: 50px 46px; 
}

.shampoo {
	background-repeat:no-repeat;
	background-image: url('../../../../img/icon/salon_detail/icon002.png');
	background-position:50% 20%;
	background-size: 50px 46px; 
}

.cape {
	background-repeat:no-repeat;
	background-image: url('../../../../img/icon/salon_detail/icon003.png');
	background-position:50% 20%;
	background-size: 50px 44px; 
}

.towel {
	background-repeat:no-repeat;
	background-image: url('../../../../img/icon/salon_detail/icon004.png');
	background-position:50% 20%;
	background-size: 50px 44px; 
}

.drier {
	background-repeat:no-repeat;
	background-image: url('../../../../img/icon/salon_detail/icon005.png');
	background-position:50% 20%;
	background-size: 50px 44px; 
}

.wagon {
	background-repeat:no-repeat;
	background-image: url('../../../../img/icon/salon_detail/icon006.png');
	background-position:50% 20%;
	background-size: 50px 44px; 
}

.stool {
	background-repeat:no-repeat;
	background-image: url('../../../../img/icon/salon_detail/icon007.png');
	background-position:50% 20%;
	background-size: 50px 44px; 
}

.rollerBall {
	background-repeat:no-repeat;
	background-image: url('../../../../img/icon/salon_detail/icon008.png');
	background-position:50% 20%;
	background-size: 50px 44px; 
}

.equipment {
	background-repeat:no-repeat;
	background-image: url('../../../../img/icon/salon_detail/icon009.png');
	background-position:50% 20%;
	background-size: 50px 44px; 
}

.expendables {
	background-repeat:no-repeat;
	background-image: url('../../../../img/icon/salon_detail/icon010.png');
	background-position:50% 20%;
	background-size: 50px 44px; 
}
/* ----- salon_detaile icon end ----- */


/* ===== break point 414px以下 start ===== */
@media screen and (max-width: 414px) {
.diN_s { display: none;}


.salon_list_label p:first-child {
	font-size: 15px;
}
}
/* ===== break point 414px以下 end ===== */

