@CHARSET "UTF-8";
/*************************************
			◇	Style	◇
**************************************/
html, body{
  height: 100%; }


.miralbody {
	background: repeating-linear-gradient( 135deg, #FFF,#FFF 2px,#DDD 2px,#DDD 4px);
	color:#5C5C5C;
	height: 100%;
}

a {	text-decoration: none;}

/* background-color */
.c01, .c01:hover, .c01.active, .c01.activated {	background-color: #A87544; color:#FFF; } /* 茶色 */
.c02, .c02:hover, .c02.active, .c02.activated {	background-color: #EB727E; color:#FFF; } /* ピンク */
.c03, .c03:hover, .c03.active, .c03.activated {	background-color: #19B0B8; color:#FFF; } /* 水色 */
.c04, .c04:hover, .c04.active, .c04.activated {	color:#FFF; } /* 白 */
.c05, .c05:hover, .c05.active, .c05.activated {	background-color: #5C5C5C; color:#FFF; } /* グレー */
.c06, .c06:hover, .c06.active, .c06.activated {	background-color: #DDD; color:#FFF; } /* 薄いグレー */

/* SNS color */
.cFB, .cFB:hover, .cFB.active , .cFB.activated {	background-color: #305097; color:#FFF; } /* Facebook */
.cGO, .cGO:hover, .cGO.active , .cGO.activated {	background-color: #db4a39; color:#FFF; } /* Google+ */
.cIN, .cIN:hover, .cIN.active , .cIN.activated {	background-color: #3F729B; color:#FFF; } /* Instagram */
.cTW, .cTW:hover, .cTW.active , .cTW.activated {	background-color: #55acee; color:#FFF; } /* twitter */

/* color */
.fc01 {	color: #A87544 !important;} /* 茶色 */
.fc02 {	color: #EB727E !important;} /* ピンク */
.fc03 {	color: #19B0B8 !important;} /* 水色 */
.fc04 {	color: #FFFFFF !important;} /* 白 */
.fc05 {	color: #5C5C5C !important;} /* グレー(濃) */
.fc06 {	color: #DDDDDD !important;} /* グレー(薄) */

/* float */
.flL {	float:left;}
.flR {	float:right;}
.clB {	clear:both;}

/* text-align */
.teAL {	text-align:left; }
.teAR {	text-align: right;}
.teAC {	text-align: center;}

/* font-size */


/* has-header-w (タブが２つある場合) */
.has-header-w {	top:88px;}

/* margin */
.maN {	margin:none !important;}

/* padding */
.paN {	padding: none !important;}

/* boder */
.boN {	border:noen;}

/* input placeholder */
input::-moz-placeholder,textarea::-moz-placeholder {color: #FFF;}
input:-ms-input-placeholder,textarea:-ms-input-placeholder {color: #FFF; }
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {color: #FFF;text-indent: 0;}

/* display */
.diN {
	display: none !important;
}

/* liquid box */
.liquid_box1x1:before {
	content: "";
	display: block;
	padding-top:100%;
}

/*************************************
			◆	共通パーツ 	◆
**************************************/
/* header */
.beautiHd {
	z-index: 10;
}
div.iconHd > img {
	height:30px;
	margin:2px 0px;
	width: 80px;
}

div.iconHd .button {
	font-size:30px;
	border-radius:0px;
}
.iconHd > .button:hover ,
.iconHD > .button.active , .iconHD > .button.activated {
	color:#A87544;
	background-color: transparent;
	border-left: none;
	border-right: none;
	border-bottom: solid 4px #A87544;
	border-radius:0px;
	padding: 1px 9px 1px 9px;
}

/* titile Bar */
.titleBar {
	width: 100%;
	padding:5px 25px;
	box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.5);
	font-size:15px;
	margin: 0 0 1px 0;
}

/*　お知らせ：アイコン  */
 span.ann_campaign:before{
	content: "キャンペーン";
	font-size:0.9em;
	padding:1px 5px;
	margin: 0px 10px;
	color:#FFF;
	background-color: #EB727E;
	display: inline-block;
	width: 90px;
	text-align: center;
}

span.ann_news:before{
	content: "ニュース";
	font-size:0.9em;
	padding:1px 5px;
	margin: 0px 10px;
	color:#FFF;
	background-color: #3DA75D;
	display: inline-block;
	width: 90px;
	text-align: center;
}

span.ann_maintenance:before {
	content: "メンテナンス";
	font-size:0.9em;
	padding:1px 5px;
	margin: 0px 10px;
	color:#FFF;
	background-color: #387EF5;
	display: inline-block;
	width: 90px;
	text-align: center;
}

/* 検索ボックス */
.searchbox {
	width: 100%;
	height: 47px;
}

.searchbox label {
	width: 100%;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:-100px;
	float:left;
	border: none;
	height: 47px;
}

.searchbox label input {
	height: 47px;
}

.searchbox label i {
	margin-left: 100px;
}

.searchbox > .button {
	width: 101px;
	border-radius:0px;
	font-size:12px;
	border: none;
	height: 47px;
}

/* contentbox */
.contentbox {
	width: 100%;
	background-color: #FFF;
	border: solid 1px #DDD;
	margin: 10px 0px 0px;
	padding: 15px 15px 0px 15px;
	display: inline-block;
}
.contentbox:first-child {
	margin: 0px;
}

.contentbox_title {
	margin: 0px;
	padding: 0px 0px 15px 0px;
	display: block;
	font-size: 20px;
	color: #A87544;
}

.contentbox_content {
	width:100%;
	margin: 0px;
	padding: 0px 0px 15px 0px;
	display: inline-block;
}

/* accordions */
.accordion {
	width:100%;
	margin-top: 10px;
	border: solid 1px #DDD; 
}

.accordion input {
	display: none;
}

.accordion label {
	position: relative;
	display: block;
	background: #FFF ;
	cursor: pointer;
	padding: 15px;
	border: none;
	font-size: 20px;
	color: #A87544;
}

.accordion label::after {
	position: absolute;
	top: 50%;
	right: 10px;
	display: block;
	content: '';
	width: 10px;
	height: 10px;
	margin-top: -10px;
	margin-right:7px;
	border-top: 1px solid #888;
	border-right: 1px solid #888;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
} 

.accordion input:checked + label::after {
	margin-top: -3px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.accordion .accordion_content {
	transition: 0.2s;
	height: 0;
	overflow: hidden;
	background: #FFF;
	padding: 0 15px;
	border: none;
}

.accordion input:checked  ~ .accordion_content {
	height: auto;
	padding: 0px 15px 15px 15px;
}

/* miral tab */
.miral_tab > .tabs {
	position:relative;
	color:#5c5c5c;
	margin-bottom: 10px;
}

.miral_tab .tabs >.tab-item {
	border-bottom: solid #DDDDDD 5px;
	max-width: none;
	opacity:1.0;
}

.miral_tab .tabs > .tab-item.tab-item-active {
	color:#A87544;
	border-bottom: solid #A87544 5px;
}

/* search tab */
.search_tab　{
	display: block;
}

.search_tab > .tabs > span {
	width: 100px;
	background-color: #A87544;
	display: inline-block;
	color: #FFF;
	text-align:center;
}

.search_tab > .tabs  > a {
	max-width: none;
	color: #A87544;
	margin: 0px;
}

.search_tab > .tabs  > a.active , .search_tab > .tabs  > a.activated {
	max-width: none;
	border:none !important;
	color: #A87544;
	background: #FFDAB5;
	margin: none;
}

/* list_salon_img */
img.list_salon_img {
	width: 60px;
	height: 60px;
	border-radius:30px;
	display: inline-block;
	float: left;
}

/* list_beauti_img */
img.list_beauti_img {
	width: 40px;
	height: 40px;
	border-radius:30px;
	display: inline-block;
	float: left;
}



/* cancel_button */
.cancel_button > .popup{
	width: auto;
	margin: 0px 20px;
}

.cancel_button > .popup > .popup-head > h3{
	color: #A87544;
}

.cancel_button > .popup > .popup-body dt{
	margin-bottom: 10px;
}

.cancel_button > .popup > .popup-buttons >button {
	padding: 0 7px;
}

/* message_button */
.message_button > .popup{
	width:100%;
	min-width:320px;
	max-width:500px;
	margin: 0px 20px;
}

.message_button > .popup > .popup-head > h3{
	color: #A87544;
}

.message_button > .popup > .popup-body dt{
	margin-bottom: 10px;
}

.message_button > .popup > .popup-buttons >button {
	padding: 0 7px;
}

/* toggle miral */
.toggle.toggle-miral input:checked + .track {
  border-color: #A87544;
  background-color: #A87544; }
  
.toggle-small .toggle-miral input:checked + .track {
  background-color: rgba(239, 71, 58, 0.5); }

.toggle-small .toggle-miral input:checked + .track .handle {
  background-color: #A87544; }

/* 画像入れ替えdirective　 */
.imgsortable_dragging {
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);

  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.imgsortable_placeholder {
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  display:inline-block;
}

.imgsortable_item {
	display:inline-block;
}